body,
html {
    height: 100%;
    inset: 0;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    place-content: center;
    background-color: #f00;
}

main {
    background-color: #000;
    display: grid;
    place-content: center;
}